<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Student Management</h1>
        <div class="menu">
            <button onclick="location.href='/add'">1. Add new student</button>
            <button onclick="location.href='/delete'">2. Delete a student</button>
            <button onclick="location.href='/modify'">3. Modify a student</button>
            <button onclick="location.href='/report'">Generate Report</button>
        </div>
    </div>
</body>

</html>